ircddb = {
# callsign should be a unique login on quadnet
# if you are already using a login for a gateway, find another login!
# using the same callsign for two different QuadNet clients (like a gateway and a Smart Group Server) is not allowed!
	callsign = "CHNGME"
#	address = ""
#	hostname = "rr.openquad.net"
# The ircDDB username default to the value defined for "callsign".
#	username = "CHNGME"
#	password = ""
}

remote = {
	enabled = false
	password = "ChangeMe"
	port = 123456			# choose a port for communcation
}

module = ( # The modules list is contained in parentheses

	{						# Up to 15 different modules can be specified, each in curly brackets
		band = "A"			# Each module has to have a band letter
		basename = "CHNGME" # Has to be less than 8 characters
#		subscribe = "A"		# A single upper case letter or a space
#		unsubscribe = "T"	# A single upper case letter different from subscribe
# info has to be less than 21 chars, otherwise it will be set to the default
#		info = "Smart Group Server"
# permanent is a comma-seperated list of callsigns that, once logged in, will never be unsubscribed
# permanent must be less than 121 characters long
#		permanent = ""
#		usertimeout = 300	# if a user is inactive for this many minutes, they will be automatically unsubscribed
#		callsignswitch = false
#		txmsgswitch = true
		reflector = "CHNGME C"
#	},						# be sure there is a comma between modules
#	{
#		band = "B"
#		basename = "CHNGME"
#		subscribe = "A"
#		unsubscribe = "T"
#		info = "My smart-group-server"
#		permanent = ""
#		usertimeout = 300
#		callsignswitch = false
#		txmsgswitch = true
#		reflector = "CHNGME C"
	}
)						# close paren to close out the module defines
